<!DOCTYPE HTML>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>Sarah's Awesome Test Page</title>
</head>

<body>
    <h1> This is a test </h1>
    <ul id="navigation">
        <li> <a href="/"> Home</a> </li>
        <li> <a href="/gallery">To the gallery</a> </li>
        <li class="current"> To the test page </li>
        <li> <a href="/videos">To the videos</a> </li>
        <li> <a href="/music">To the musics</a> </li>
    </ul>
</body>
</html>